html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

#album-container {
  box-sizing: border-box;
  position: absolute;
  border-top: 80px solid #000;
  border-bottom: 80px solid #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.player-controls {
  box-sizing: border-box;
  z-index: 100;
  position: fixed;
  bottom: 0px;
  padding: 0 20px;
  line-height: 80px;
  vertical-align: middle;
  width: 100%;
}

.player-controls div {
  float: right;
  margin-left: 20px;
}

.player-controls i {
  transition: all 0.01s;
  font-size: 24px;
  text-shadow: #FFF 0 0 40px;
  color: #FFF;
}

.player-controls i:hover {
  text-shadow: #FFF 0 0 10px;
}
