html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#album-container {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.album-cover {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-image: url('../images/album/0. Album Art*.jpg');
  background-size: cover;
  opacity: 1;
  transition: opacity 0.5s;
}

.album-cover.hidden {
  opacity: 0;
}

.player-controls-container {
  position: fixed;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0);
  transition: background-color 1s ease;
}

.player-controls-container.expanded {
  background-color: rgba(0, 0, 0, 0.4);
}

.player-controls {
  width: 2em;
  height: 2em;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 2em;
  right: 2em;
  padding: 0;

  border-radius: 50%;
  background: #FFF;
  transition-property: transform, width, height, padding;
  transition-duration: 0.3s;
  transition-delay: 0.3s;
}

.player-controls-container.expanded .player-controls {
  transform: translateY(calc(-50vh + 14.5em)) translateX(calc(-50vw + 14.5em));
  width: 25em;
  height: 25em;
  padding: 3.66em;
  transition-delay: 0s;
}

.player-controls-container .player-controls > div {
  width: 100%;
  visibility: hidden;
  opacity: 0;

  transition: all 0.3s;
}

.player-controls-container.not-started .player-controls span {
  color: #000;
}

.player-controls-container .player-controls span {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #000; /*#989998;*/
}

.player-controls-container.expanded .player-controls > div {
  visibility: visible;
  opacity: 1;
  transition: all 0.3s 0.3s;
}

.player-controls .close i {
  font-size: 1.5em;
}

.not-started .close .start {
  display: block;
}

.not-started .player-controls {
  opacity: 0.5;
}

.close .start {
  display: none;
}

.not-started .track.row, .not-started .divider, .not-started .controls, .not-started .close svg {
  display: none;
}

.row {
  display: flex;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.divider {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 1em 0;
}

.artist-album .artist, .track .track-num {
  float: left;
  width: calc(40% - 2em);
  margin-right: 2em;
  align-self: center;
}

.artist-album .album, .track .track-name {
  float: left;
  width: 60%;
  align-self: center;
}

.artist, .album {
  font-weight: bold;
}

.controls {
  margin: 1.5em auto 0 auto;
}

.controls > div {
  display: inline-block;
  margin-right: 1.5em;
}

.controls > div:last-child {
  margin-right: 0;
}

.controls i {
  transition: all 0.2s;
  font-size: 1.5em;
  color: #000;
}

.controls i:hover {
  transform: scale(1.2);
}

.controls.busy i {
  pointer-events: none;
  color: rgba(0, 0, 0, 0.2);
}

.close {
  position: absolute;
  bottom: 2em;
  left: 0;
  text-align: center;
}

.close > div {
  display: inline-block;
  width: 2em;
  height: 2em;
}

.close > svg {
  display: block;
}

.close-x {
  stroke: #000;
  fill: transparent;
  stroke-width: 2;
}
